@font-face {
  font-family: 'TestSoehne';
  font-weight: 200;
  src: url('/assets/fonts/test-soehne-200.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 300;
  src: url('/assets/fonts/test-soehne-300.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 400;
  src: url('/assets/fonts/test-soehne-400.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 500;
  src: url('/assets/fonts/test-soehne-600.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 600;
  src: url('/assets/fonts/test-soehne-600.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 700;
  src: url('/assets/fonts/test-soehne-700.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 800;
  src: url('/assets/fonts/test-soehne-800.woff2') format('woff2');
}
@font-face {
  font-family: 'TestSoehne';
  font-weight: 900;
  src: url('/assets/fonts/test-soehne-900.woff2') format('woff2');
}
